.Title{
    display: flex;
}
.Restaurant{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    

}
.Restaurant >img{
    width: 100%;
    border: 1px solid blue;
}

.Header{
    display: flex;
    justify-content: space-between;
   
    padding: 5px;
    border: 1px solid blueviolet ;
}

.logo{
    width: 50px;
    height: 50px;
    padding: 5px;
    
}
.Nav{
    display: flex;
    
}
.Nav > li{
    padding: 10px;
    list-style-type: none;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}
.footer{
    width: 100%;
    background-color: bisque;
    
    
}
.footerlist{
    display: flex;
}
.footerlist > li{
    padding: 10px;
    list-style-type: none;
}

.ShimmerRestaurant >img{
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    animation: shine 10ms initial;
    
}
.ShimmerRestaurant >div{
background-color: rgb(211,211,211);
width: 70%;
}
.ShimmerRestaurant{
    width: 200px;
    height:300px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    animation: shine 1s initial;

}
.search-container{
    padding: 10px;
    justify-content: center;
    border: 20px;
}
.search-container > button{
    margin: 10px;

}
.restaurant-menu >  img{
    width: 300px;
    border: grey;
    margin: 10px;
}